@import "../../../scss/index.scss";
@import "../../../scss/formularios/formulario-basico.scss";
@import "../../../scss/imagenes/logo.scss";

.login{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 1fr 1fr;
    margin-top: 1rem;
    @include formularioBasico();

    .logo{
        @include logo();
    }

}