@import "../../../scss/index.scss";

.list-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @include min-w(100vw);
    @include min-h(100%);
    padding: 2em;

    .empty{
        grid-column: 2/span 3;
        grid-row: 1/3;
        @include flexbox();
        font-size: 1.3em;
    }
}