@import "../../../scss/index.scss";

.lista-paginacion{
    @include flexbox();
    @include min-h(4rem);
    grid-gap: 2em;
    margin-top: 1em;

    p{
        font-size: 1.3em;
        font-weight: bold;
        margin: 0;
    }
}