@import "../../../../scss/index.scss";

.foto-perfil{
    @include min-w(50rem);
    @include min-h(100vh);
    margin-top: 4em;

    p{
        @include min-h(8rem);
        @include flexbox();
        font-size: 1.3em;
    }
    &__contenido{
        @include flexbox();
    }
    &__avatar{
        @include flexbox();
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        padding: 0;

        div{
            @include min-w(12rem);
            overflow: hidden;

            img{
                @include min-h(12rem);
                object-fit: cover;
                border: 1px solid #aeabab;
                border-radius: 50%;
            }
        }



    }
}