@import "../../../scss/index.scss";

//Estilos del contenedor de la pagina de inicio

.container{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;


    .box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 15rem);
        grid-gap: 2em;
        padding-top: 2em;

        @media  (min-width: 0) and (max-width: 667px) {
            grid-template-rows: repeat(3, 1fr);
    
        }


    }
    
}