@import "../../../scss/index.scss";
@import "../../../scss/contenedores/solicitudCaja.scss";
@import "../../../scss/botones/boton.scss";

.perfil-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;
    @include flexbox();

    .ui.pointing.secondary.menu{
        margin-top: 2em;
        font-size: 1.3em;
    }

}