@import "../../../scss/index.scss";

//estilos de componente titulo
h2{
    @include flexbox();
    @include min-h(3em);
    color: $gris-oscuro;
    border: 1px solid #f0e9e9;
    box-shadow: $box-shadow;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
    text-align: center;

    @media  (min-width: 0) and (max-width: 520px) {
        font-size: 1.3em;

    }
}