@import "../../../scss/index.scss";

.evidencias{
    @include min-w(50rem);
    margin-top: 1em;

    @media  (min-width: 0) and (max-width: 712px) {
        @include min-w(100vw);

    }

    &__image-container{
        @include flexbox();
        @include min-h(12rem);

        img{
            @include min-h(12rem);
        }
    }
    p{
        @include min-h(7rem);
        @include flexbox();
        font-size: 1.3em;

        @media  (min-width: 0) and (max-width: 595px) {
            font-size: 1.2em;
    
        }

        @media  (min-width: 0) and (max-width: 533px) {
            font-size: 1.1em;
    
        }

        
        @media  (min-width: 0) and (max-width: 499px) {
            font-size: 1em;
            text-align: center;
    
        }

        @media  (min-width: 0) and (max-width: 454px) {
            font-size: .8em;
            text-align: center;
    
        }
    }

    &__boton{
        @include flexbox();
    }

    &__contenido{
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 2em;
        border: 1px solid #d7c4c4;

        &:hover{
            cursor: pointer;
            background-color: #f9f9f9;
        }

        p{
            grid-column: 1/2;
            grid-row:1/2; 

            span{
                color: $guindo;
                margin-left: .5em;
                margin-right: .5em;
                font-weight: bold;
            }
        }
    }
}