@import "../../../scss//index.scss";

.recordatorio{
    display: grid;
    grid-template-columns: 20rem 1fr 25rem;
    grid-template-rows: 1fr;
    @include min-h(15rem);
    @include min-w(97%);
    border-bottom: 1px solid #d0d0d0;
    box-shadow: $box-shadow;
    margin: 1em;

    .box-image{
        @include flexbox();

            img{
                @include min-w(100%);
                padding: 1em;
            }
    }


    .contenido{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;

        h4{
            @include flexbox();
            font-size: 1.4em;
            text-align: center;
        }

        p{
            @include flexbox();
            @include min-h(100%);
            align-items: flex-start;
            text-align: center;
            font-size: 1.4em;
            color: $guindo;
        }

    }

    &__botones{
        @include flexbox();
        flex-direction: column;
        grid-gap: 1.5em;

        button{
            @include boton();
            
        }
    }
}