@import "../../scss/index.scss";
@import "../../scss/formularios/formulario-basico.scss";

.authenticated{
    display: grid;
    grid-template-columns: 1fr 35rem 1fr;
    grid-template-rows: 4rem 1fr 4rem;
    @include min-h(100vh);
    @include formularioBasico();
    padding: 2rem;

    h1{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        font-size: 1.7em;
        @include min-h(100%);
        @include min-w(100%);

    }

    .ui.form{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    p{
        grid-column: 2/3;
        grid-row: 3/4;
        @include min-w(100%);
        @include min-h(100%);
        @include flexbox();
        font-size: 1.2em;

        span{
            margin-left: .5em;
            cursor: pointer;
            color: rgb(60, 161, 219);
        }
    }
}