@import "../../../scss/index.scss";

//Estilos del banner principal.

    .banner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: #FAFAFA;
        @include min-h(22rem);
        background-repeat: repeat;
        background-size: contain;

        @media  (min-width: 0) and (max-width: 580px) {
            @include min-h(40rem);
        }

        .banner-info{
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 1em;
            background-image: linear-gradient(to left, #feb, #ffe185);

            @media  (min-width: 0) and (max-width: 580px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr .4fr;
            }

                h1{               
                    grid-column: 1/span 3;
                    grid-row: 1/2; 
                    @include flexbox();
                    justify-content: flex-start;
                    padding: 1em;
                    font-size: 2.2em;
                    color: $guindo;

                    @media  (min-width: 0) and (max-width: 580px) {
                        grid-colum:1/2;
                        grid-row: 1/2;
                        justify-content: center;
                        text-align: center;
                    }
                   
            }

            .boton-box{

                &__calendario-pendientes{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 13rem 1fr;
                    justify-content: center;
                    @include min-w(15rem);
                    @include min-h(20rem);
                    background-color: white;
                    border-radius: 6px;
                    border: 1px solid rgb(226, 226, 226);
                    padding: .4em;
                    cursor: pointer;

                    @media  (min-width: 0) and (max-width: 580px) {
                        grid-template-columns: 13rem 1fr;
                        grid-template-rows: 1fr;
                        @include min-w(100%);
                        @include min-h(15rem);

                    }

                    img{
                        border-radius: 6px;
                        @include min-h(13rem);

                    }
                    p{
                        grid-column: 1/2;
                        grid-row: 2/3;
                        @include flexbox();
                        font-size: 1.2em;
                        text-align: center;
                        padding: 0 .1em;

                        @media  (min-width: 0) and (max-width: 580px) {
                            grid-column: 2/3;
                            grid-row: 1/2;

                        }

                        
                        

                    }

                    a{
                        background-color: red;
                    }
                }
            }


           
        }

    }