@import "../../../scss/index.scss";

//Estilos del banner principal.

    .banner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: #FAFAFA;
        min-height: 22rem;
        max-height: 22rem;
        background-repeat: repeat;
        background-size: contain;

        .banner-info{
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            padding: 1em;
            background-image: linear-gradient(to left, #feb, #ffe185);

            h1{
                grid-column: 1/2;
                grid-row: 1/2;
                @include flexbox();
                text-align: center;
                padding: 1em;
                font-size: 2em;
                color: $guindo;
            }
            p{
                grid-column: 1/2;
                grid-row: 2/3;
                @include flexbox();
                align-items: flex-start;

                button{
                    @include boton();
                    font-size: 1.2em;
                    margin-right: 2rem;
                    background-color: $guindo;
                    color: $dorado-claro;
                    
                    &:hover{
                      background-color: $dorado-claro;
                      color: $guindo;
                    }
                }   
            }


           
        }

    }