@import "../../../scss/index.scss";

//Estilos del card de solicitudes

.cardItem{
    display: grid;
    grid-template-columns: 6rem 1fr 10rem;
    grid-template-rows: 4rem 3rem;
    @include min-h(7rem);
    margin: 0;
    padding: 0;
    border: 1px solid #E6E6E6;
    box-sizing: content-box;


    &:hover{
        cursor: pointer;
    }

    &:hover > .contenido{
        text-decoration: underline;
    }

    &__icono{
        grid-column: 1/2;
        grid-row: 1/span 2;
        @include flexbox();
        
        

        div{
            @include min-h(100%);
            @include min-w(100%);
            @include flexbox();
            padding: 0;
            margin: 0;
            background-color: #f4f1f1;
        }

        .color-evidencia{
            background-color: #88fff4;
            background-color:  #ffe185;
            
        }

    }

    .contenido{
        grid-column: 2/3;
        grid-row: 1/2;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        @include flexbox();
        justify-content: flex-start;
        @include min-h(4rem);
        padding-left: .5em;
        padding-right: 2em;
        color: $guindo;
    }

    .fecha{
        grid-column: 2/3;
        grid-row: 2/3;
        @include flexbox();
        justify-content: flex-start;
        align-items: flex-start;
        @include min-h(3rem);
        font-size: 1.1em;
        padding-left: 1em;
        padding-right: 2em;

    }

    .botones{
        grid-column: 3/4;
        grid-row: 1/ span 2;
        color: $guindo !important;
        @include flexbox();

        i{
            color: $guindo !important;
            @include flexbox();
            text-decoration: none !important;
        }

        p{
            @include min-h(100%);
            padding: 0;
            margin: 0;
            border: 0;
        }
    }

}