@import "../../../scss/index.scss";

.buscar-elementos{
    @include flexbox();
    @include min-w(35rem);
    @include min-h(100%);
    margin-top: 0px;


    .ui.left.icon.input{
        width: 35rem;
        @include min-h(2.7em);
        font-size: 1.2em;
        color: #000;

        input{
            border-radius: 4px;
            color: #4d483c;
        }
 
    }

    .results{
        max-height: 60vh;
        overflow-y: scroll;
    }

    &__item{
        display: flex;
        align-items: center;
        @include min-w(35rem);

        p{
            margin: 0;
            color: $guindo;
            @include min-w(35rem);
            font-size: 1.3em;
            

            &:first-of-type{
                font-weight: bold;
            }
            &:last-of-type{
                color: $gris-oscuro;
            }
        }
    }


}