@import "../../../scss/index.scss";

//etilos para el componente banner
.banner-solicitud{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    background-image: linear-gradient(to left, #feb, #ffe185);
    color: $guindo;
    @include min-h(12rem);

    h1{
        @include flexbox();
        margin: 0;
        font-size: 2.3em;

        @media  (min-width: 0) and (max-width: 667px) {
            font-size: 2em;
            text-align: center;
            padding: .3em;
        }
    }
}