//se ha importado las variables de color y los estilos para hacer responsive web design.
@import "../../scss/index.scss";

//se ha importado los estilos del submenu del header.
@import "../../scss/header/submenu.scss";

//Aqui se anexan todos los estilos del menu de navegacion de usuario que ha iniciado sesion.

.blur{
    opacity: 0.5;
}


header{
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: $guindo;
    color: $dorado-claro;
    font-size: 1.1em;
    margin-top: 0;

    @media  (min-width: query("chico")) and (max-width: query("grande")) {
        grid-template-columns: 1fr;

    }

    .move{
        transition: .2s;
        transform: translateX(200px);

    }


    ul{
        display: grid;
        grid-template-columns: 4em 10em 10em 10em 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        li{
            display: flex;
            justify-content: center;
            align-items: center;
            @include min-w(100%);
            @include min-h(4em);

            a{
                color: inherit;

                &:hover{
                    color: inherit;
                }
            }
          

            &:hover{
                cursor: pointer;
                transition: .3s;
                color: $dorado-oscuro;

                & > .solicitud-submenu{
                    transform: scale(1,1);
                }
            }


            .solicitud-submenu{
                @include submenu;

            }

            .left{
                margin-left: 30rem;
                top: 0;
            }


            //se oculto el menu para la  version mobil
            @media  (min-width: query("chico")) and (max-width: query("grande")) {
                &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    transform: scale(0,0);
                  
                }
        
            }

        }

        .burguer{
            min-width: 100%;
            i{
              display: block;  
            }
        }

        .vacio{
            cursor: default !important;
        }

        @media  (min-width: responsive("grande")) {
            .burguer{
                i{
                    display: none;
                }
                
            }
            
        }

    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 4em;
        min-width: 100%;
        margin-top: 0;
        margin-top: -1em;

        .user-name{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4em;
            min-width: 100%;
            margin-top: 0 !important;

            &:hover{
                cursor: pointer;
                transition: .3s;
                color: $dorado-oscuro;

                & > .user-submenu{
                    transform: scale(1,1);
                }
            }


            .user-submenu{
                @include submenu;
            }
        }

        @media (min-width: query("chico")) and (max-width: query("grande")){
            transform: scale(0,0);
        }
    }
}

