@import "../../../../scss/index.scss";

.opciones-perfil{
    @include min-w(50rem);
    @include min-h(100vh);
    margin-top: 4em;
    @include min-w(50rem);
    @include min-h(100vh);

    p{
        @include min-h(8rem);
        @include flexbox();
        font-size: 1.3em;
    }
    div{
        @include flexbox();
        flex-direction: column;
        grid-gap: 2em;

        button{
            @include min-w(16em);
        }
    }
}