@import "../../../../scss/index.scss";

.opciones-perfil{
    @include min-w(50rem);
    margin-top: 1em;

    p{
        @include min-h(4rem);
        @include flexbox();
        font-size: 1.3em;
    }
    div{
        @include flexbox();
        flex-direction: column;
        grid-gap: 2em;

        button{
            @include min-w(16em);
        }
    }

    &__imagen{
        @include flexbox();

        img{
           @include min-h(12rem); 
        }
        
    }
}