@import "../../scss/index.scss";

.layout{
    min-width: 100vw;

    .move{
        transition: .2s;
        transform: translateX(200px);    

    }

    main{
        min-width: 100vw;
        min-height: calc(100vh - 4.5em);
        margin-bottom: 5rem;
        
    }




}

.scroll{
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

.blur{
    opacity: 0.5;

}