@import "../../../scss/index.scss";

//Estilos de componente filtrador de solicitudes.

.filtrado{
    @include flexbox();
    @include min-h(6rem);

    @media  (min-width: 0) and (max-width: 684px) {
        @include min-h(12rem);
        flex-direction: column;

    }


    .filtrado-box{
        padding: .5em;
        
        @media  (min-width: 0) and (max-width: 684px) {
            display: grid;
            grid-template-columns: 6rem 1fr;
            grid-template-rows: 1fr;
        }
           p{
                @include flexbox();
                @include min-h(inherit);
                margin: 0 1em;
                padding: .3em;
                font-size: 1.1em;
                color: $gris-oscuro;
            } 

            .ui.selection{
                @include min-w(15rem);
            }

            i.icono-buscar{
                @include min-w(15rem);
                @include min-h(2.5rem);
                padding-top: 20px;
                margin: 0;
                padding: .7em !important;
                border-radius: 4px;

                &:hover{
                    border: 1px solid rgba(20, 20, 20, 0.85);
                }
            }
    }
    

}