//mixin con estilos de contenedor miniatura para el contenedor de solicitudes de esta misma carpeta.

@mixin minicaja(){
    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2.4rem 1fr;
        padding:  0 .5rem;

        @include flexbox(false, "center", "center");

        p{
            text-align: center;
            @include flexbox();
            &:nth-child(1){
                @include min-h(2.4rem);
                font-size: 1.3em;
                background-color: #ffffff2e;
                color: $guindo;
                border-top: 1px solid #E6E6E6;
                border-bottom: 1px solid #E6E6E6;
            }

            &:nth-child(2){
                @include min-h(100%);
                font-size: 1.2em;
                padding: .5rem;
            }

            i{
                @include flexbox();
                @include min-h(100%);
                margin-left: 1em;
                color: $azul !important;
            }

            i.pendiente{
                color: $guindo !important;
            }

            .box-imagen{
                @include min-h(3rem);
                overflow: hidden;

                img{
                    @include min-h(3rem);
                    border-radius: 50%;
                    margin-right: 1em;
                    object-fit: cover;
                }
            }
    
        }

         
        
    }
}