@import "../index.scss";
@import "./minicaja.scss";


//Estilos de contenedor para todas las paginas para ver solicitudes
@mixin solicitudCaja($value, $tipo){
    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-rows: 1fr 3rem;
     
    div{
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        @include min-h(50rem);
        grid-template-columns: 1fr;

        @if $tipo == "salida"{
            grid-template-rows: 2fr repeat($value, 1fr);
            @include min-h(75rem);
        }

        @if $tipo == "evento"{
            grid-template-rows: 2fr repeat($value, 1fr);
            @include min-h(75rem);
        }

        @if $tipo == "mantenimiento"{
            grid-template-rows: 2fr repeat($value, 1fr);
            @include min-h(80rem);
        }

        @if $tipo == "admin"{
            grid-template-rows: repeat($value, 1fr);
            @include min-h(50rem);
        }

        @if $tipo == "departamento"{
            grid-template-rows: repeat($value, 1fr);
            @include min-h(60rem);
        }
        
        border: 1px solid #d8d5d5;
        box-shadow: $box-shadow;
        border-radius: 6px;
        background-color: $gris;
        margin-top: 3rem;

        button{
            @include boton();
        }

    }

}