@import "../../../scss/index.scss";


.submenu-left{
        position: absolute;
        left: 0;
        top: 0;
        margin:0;
        padding: 1em;
        min-width:  200px;
        min-height: 100vh;
        transform: translateX(-200px);
        background-color: $dorado-claro;
        font-size: 1.2em;
        box-shadow: $box-shadow;

        .absolute{
            position: absolute;
            top: 0;
            right: 0;

            &:hover{
                color: $seminegro;
            }
        }
        

        li{
            padding: 1em;
            color: $guindo;

            &:hover{
                cursor: pointer;
            }
        }
    
}

.submenu-left.open-submenu{
    transition: .2s;
    transform: translateX(0);
}


