@import "../../../scss/index.scss";
@import "../../../scss/formularios/formulario-basico.scss";

.formulario-salida{
    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-rows: 1fr;
    margin-top: 4rem;

    @include formularioBasico();
}