@import "../../../scss/index.scss";
@import "../../../scss/contenedores/solicitudCaja.scss";

.informacion-evento{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;
    @include flexbox();

    .ui.pointing.secondary.menu{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 2em;
        font-size: 1.3em;

        @media  (min-width: 0) and (max-width: 507px) {
            font-size: 1em;
    
        }

        @media  (min-width: 0) and (max-width: 400px) {
            font-size: .9em;
    
    
        }

    }

     
}