@import "../../../../scss/index.scss";

.listado-usuarios{
    &__mensaje{

        @include flexbox();
        @include min-h(8rem);
        font-size: 1.4em;
    }

    &__map{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 6rem);
    }

    &__imagen{
        @include flexbox();

        img{
            @include min-h(12rem);
        }
    }
} 