@import "./scss/colors.scss";

.app {
  width: 100vw;
  scroll-behavior: smooth !important;

  .boton-guindo{
    background-color: $dorado-claro;
    color: $guindo;
    
    &:hover{
      background-color: $guindo;
      color: $dorado-claro;
    }
}

.boton-dorado{
    background-color: $guindo;
    color: $dorado-claro;
  
  &:hover{
    background-color: $dorado-claro;
    color: $guindo;
  }
}

}
