//todas las variables de color que se utilizaron en el proyecto
 
$guindo: #802434;
$dorado-claro: #FBDB8D;
$dorado-claro-hover: #fdd571;
$dorado-claro-border: #eeca71;
$dorado-claro-transparente: rgba(255, 212, 112, 0.6);
$dorado-oscuro: #e2b952;
$seminegro: rgb(26, 26, 26);
$naranja: #F9B71E94;
$gris-transparente: #f8ffe28e;
$borde-gris: #BB87875C;
$gradient-banner: linear-gradient(#f9d470, #fbedd3);
$gradient-fondo: linear-gradient(#FDEDCD, #F4E5C6);
$gris: #FAFAFA;
$borde-gris-claro: #CEC9C9;
$card-top:rgba(221, 199, 199, 0.58); 
$azul: #137898;
$box-shadow: 0 1px 0 0 rgba(66,118,146,.1),0 2px 6px 0 rgba(66,118,146,.1);
$gris-oscuro: #525252;