@import "../../../scss/index.scss";

//etilos para el componente banner
.banner-titulo{
    background-image: linear-gradient(to left, #feb, #ffe185);
    color: $guindo;
    @include flexbox();
    @include min-h(10rem);
    font-size: 1.1em;
    background-color: red;

    @media  (min-width: 0) and (max-width: 667px) {
        font-size: .7em;
        text-align: center;
    }

}