@import "../../../scss/index.scss";
@import "../../../scss/formularios/formulario-basico.scss";

.formulario-mantenimiento{
    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-rows: 1fr 10rem;
    margin-top: 4rem;

    &__mensaje-form{
        grid-column: 2/3;
        grid-row: 2/3;

    }

    @include formularioBasico();
}